@import '../../assets/colors';

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog {
    background-color: white;
    padding: 25px 50px 50px 50px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 15px;

    .text {
        grid-column: 1 / span 2;
    }

    h4 {
        margin: 0;
        align-self: end;
    }

    p {
        margin-top: 10px;
        color: $negative-color;
        font-weight: bold;
        align-self: start;
    }
}
